
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.input2{
	cursor: pointer!important;
}
.msg{
	transition: .3s;
}
.re:hover{
	background-color: rgb(121, 113, 81);
}
@media (min-width:850px){
	.endf{
		float: left;
		width: 100%;
		font-size: 12px;
		text-align: center;
		letter-spacing: 2px;
		font-weight: 100;
		padding-top: 20px;
		opacity: 90%;
	}
	.box1{
		float: right;
	}
	.box2{
		float: left;
		
	}
	*{
		box-sizing:border-box;
	}
	body{
		background-color:#b3b3b3;
		font-family:sans-serif;
		
	}
	#container{
		width: 100%;
		height: 100vh;
		
	}
	main{
		width:70%;
		height:85%;
		font-size:25px;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 25px;
		margin-bottom: 10px;
		background-color: white;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),4px 4px 8px rgba(0, 0, 0, 0.2)
	}
	main header{
		height:10%;
		background-color:#0065a8;
		width: 100%;
		float: left;
		display: block;
	}
	.title{
		padding-top: 15px;
		height:90%;
		top:0px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		width: 50%;
		color: white;
		float: left;
		text-align: left;
		display: block;
		font-size: 20px;
		padding-left: 20px;
	}
	.u{
		float: right;
	}
	.usersname{
		float: right;
		height: 80%;
		font-size: 10px;
		color: white;
		width: 50%;
		padding-right: 20px;
		padding-top: 15px;
		font-family:'Source Sans Pro', sans-serif;
		opacity: 90%;
		letter-spacing: 2px;
		text-align: center;
	}
	#myform{
		height: 90%;
		float: left;
		width: 100%;
	}
	.inner_div{
		padding-top: 10px;
		padding-bottom: 10px;
		margin:0;
		list-style-type:none;
		overflow:scroll;
		height: 80%;
		padding-left: 5%;
		padding-right: 5%;
		width: 100%;
		float: left;
	}
	.message1{
		display: block;
		float: left;
		width: 100%;
	}
	.message2{
		display: block;
		float: left;
		width: 100%;
	}
	main .message1a{
		padding:10px;
		padding-right: 10px;
		color:#000;
		margin-right:15px;
		background-color:#6fbced;
		line-height:20px;
		max-width:90%;
		display:inline-block;
		border-radius:5px;
		font-size: 85%;
		letter-spacing: 1.5px;
		margin-top: 30px;
		float: right;
		padding-left: 10px;
	}
	.box1{
		float: left;
	}
	.box12{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 60%;
		opacity: 60%;
		margin-top: 10px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
	}
	.message2a{
		padding:10px;
		padding-right: 10px;
		color:#000;
		margin-right:15px;
		margin-top: 30px;
		background-color:#6fbced;
		line-height:20px;
		max-width:90%;
		display:inline-block;
		font-size: 85%;
		letter-spacing: 1.5px;
		float: left;
		padding-left: 10px;
		border-radius: 5px;
	}
	.box22{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 60%;
		opacity: 60%;
		margin-top: 10px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
	}
	main footer{
		float: left;
		width: 100%;
		height: 20%;
		padding:25px 30px 10px 20px;
		background-color:#353535;
	}
	.message{
		width: 50%;
		height: 100%;
		float: left;
		border-radius:10px;
	}
	.msg{
		width: 100%;
		height: 75%;
		font-size: 15px;
		padding: 10px 15px;
		border-radius:10px;
		border: none;
		outline:none;
	}
	.msg:hover{
		border: 2px solid rgb(131, 195, 255);
	}
	.sub{
		padding-left: 15px;
		width: 16%;
		height: 70%;
		float: left;
		display: block;
		cursor:pointer !important;
	}
	.input2{
		height: 100%;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		border:none;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		padding-top: 12px;
		background-color: rgb(20, 163, 115);
		font-size: 14px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		color: white;
		padding-bottom: 12px;
	}
	.input2:hover{
		background-color:rgb(41, 88, 73) ;
	}
	.log{
		padding-left: 15px;
		width: 16%;
		height: 70%;
		float: right;
		display: block;
		text-align: center;
		cursor:pointer !important;
	}
	.out{
		height: 100%;
		width: 100%;
		font-size: 25px;
		border-radius: 10px;
		display: block;
		text-align: center;
		background-color: rgb(247, 62, 77);
		color: white;
		border:none;
		text-decoration: none;
		text-align: center;
		display: block;
		font-size: 14px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		cursor:pointer !important;
	}
	.out1{
		height: 100%;
		width: 100%;
		text-align: center;
		margin:auto;
	}
	.p{
		display:block;
		margin-top: auto;
		margin-bottom: auto;
	}
	.refresh{
		padding-left: 15px;
		width: 16%;
		height: 70%;
		float: left;
		display: block;
		cursor:pointer !important;
		margin-left: 5px;
	}
	.re{
		height: 100%;
		width: 100%;
		font-size: 25px;
		border-radius: 10px;
		display: block;
		text-align: center;
		float: right;
		background-color: rgb(194, 176, 97);
		color: white;
		border:none;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		padding-top: 12px;
		font-size: 14px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		cursor:pointer !important;
		padding-bottom: 12px;
	}
	.out:hover{
		background-color:  rgb(116, 44, 50);
	}
	a{
		color: white;
	}
}
@media (max-width:850px){
	.box1{
		float: right;
	}
	.box2{
		float: left;
		
	}
	*{
		box-sizing:border-box;
	}
	body{
		background-color:#b3b3b3;
		font-family: sans-serif;
		
	}
	#container{
		width: 100%;
		height: 100vh;
		
	}
	main{
		width:100%;
		height:100%;
		font-size:20px;
		background-color: white;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),4px 4px 8px rgba(0, 0, 0, 0.2)
	}
	main header{
		height:10%;
		background-color:#0065a8;
		width: 100%;
		float: left;
		display: block;
	}
	.title{
		padding-top: 25px;
		height:100%;
		top:0px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		width: 50%;
		font-size: 18px;
		color: white;
		float: left;
		text-align: left;
		font-weight: 600;
		display: block;
		padding-left: 25px;
	}
	.u{
		float: right;
	}
	.usersname{
		text-align: center;
		float: right;
		height: 80%;
		font-size: 8px;
		color: white;
		width: 50%;
		padding-right: 20px;
		padding-top: 30px;
		font-family:'Source Sans Pro', sans-serif;
		opacity: 90%;
		letter-spacing: 2px;
	}
	#myform{
		height: 90%;
		float: left;
		width: 100%;
	}
	.inner_div{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left:0;
		margin:0;
		list-style-type:none;
		overflow:scroll;
		height: 65%;
		padding-left: 10%;
		padding-right: 10%;
		width: 100%;
		float: left;
	}
	.message1{
		display: block;
		float: left;
		width: 100%;
	}
	.message2{
		display: block;
		float: left;
		width: 100%;
	}
	main .message1a{
		padding:10px;
		padding-right: 10px;
		color:#000;
		margin-right:0px;
		background-color:#6fbced;
		line-height:20px;
		max-width:90%;
		display:inline-block;
		border-radius:5px;
		font-size: 85%;
		letter-spacing: 1.5px;
		margin-top: 30px;
		float: right;
		padding-left: 10px;
	}
	.box1{
		float: left;
	}
	.box12{
		padding:0px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 60%;
		opacity: 60%;
		margin-top: 10px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
	}
	.message2a{
		padding:10px;
		padding-right: 10px;
		color:#000;
		margin-right:15px;
		margin-top: 30px;
		background-color:#6fbced;
		line-height:20px;
		max-width:90%;
		display:inline-block;
		font-size: 85%;
		letter-spacing: 1.5px;
		float: left;
		padding-left: 10px;
		border-radius: 5px;
	}
	.box22{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 60%;
		opacity: 60%;
		margin-top: 10px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
	}
	main footer{
		float: left;
		width: 100%;
		height: 25%;
		padding:20px 20px 20px 20px;
		background-color:#353535;
	}
	.message{
		width: 100%;
		height: 50%;
		float: left;
		display: block;
		float: left;
		margin-bottom: 10px;
	}
	.msg{
		width: 100%;
		height: 100%;
		font-size: 20px;
		padding: 10px 15px;
		border-radius:35px;
		border: none;
		outline: none;
	}
	.msg:hover{
		border: 2px solid rgb(131, 195, 255);
	}
	.sub{
		width: 30%;
		margin-top: 10px;
		height: 30%;
		float: left;
		display: block;
		cursor:pointer !important;
	}
	.input2{
		height: 100%;
		width: 100%;
		border-radius: 15px;
		display: block;
		text-align: center;
		border:none;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		background-color: rgb(20, 163, 115);
		font-size: 14px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		color: white;
	}
	.input2:hover{
		background-color:rgb(41, 88, 73) ;
	}
	.refresh{
		width: 30%;
		margin-top: 10px;
		height: 30%;
		float: left;
		display: block;
		cursor:pointer !important;
		margin-left: 18px;
	}
	.re{
		height: 100%;
		width: 100%;
		border-radius: 15px;
		display: block;
		text-align: center;
		border:none;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		background-color:rgb(194, 176, 97);
		font-size: 14px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		color: white;
	}
	.log{
		width: 30%;
		height: 30%;
		float: left;
		display: block;
		cursor:pointer !important;
		float: right;
		margin-top: 10px;
	}
	.out{
		height: 100%;
		width: 100%;
		border-radius: 15px;
		display: block;
		text-align: center;
		float: right;
		background-color: rgb(247, 62, 77);
		color: white;
		border:none;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		font-size: 14px;
		font-family:'Source Sans Pro', sans-serif;
		letter-spacing: 2px;
		cursor:pointer !important;
	}
	.endf{
		background-color:#353535;
		float: left;
		height: 10%;
		width: 100%;
		font-size: 12px;
		text-align: center;
		letter-spacing: 2px;
	}
	.tst{
		width: 100%;
		height: 50%;
		padding-top:10px;
		padding-bottom: 10px;
		float: left;
		opacity: 90%;
		background-color: rgb(226, 244, 255);
	}
	.out:hover{
		background-color:  rgb(116, 44, 50);
	}
	a{
		color: white;
	}
}
	
